$gray: #333;

$text_light: #aaa;

$test: rgb(126, 209, 241);

$dark_gray: rgba(0, 0, 0, 0.767);

$red: rgba(146, 19, 19, 0.719);

$addBtn: rgba(36, 153, 221, 0.808);

$checkBtn: rgba(36, 221, 98, 0.808);